body {
  background: #eee;
}

.App {
  text-align: center;
}

.message-block {
  margin: 2em;
}

.message {
  width: 55em;
  font-size: 0.8em;
  padding: 0.5em;
  margin: 1em;
  background-color: #fff;
  border: solid 2px #fff;
  text-align: left;
  border-radius: 1em;
  display: flex;
  position: relative;
}

.message-image {
  padding: 0.5em;
}
.message-image img{
  width: 4em;
}
.message-text {
  padding: 0.5em;
}
.message-text .user-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
}

.date {
  position: absolute;
  top: 1em;
  right: 1em;
}

.reply {
  width: 55em;
  font-size: 0.75em;
  padding: 0.5em;
  margin: 1em 4em;
  background-color: #f8f8f8;
  border: solid 2px #f8f8f8;
  text-align: left;
  border-radius: 1em;
  display: flex;
  position: relative;
}
.reply-image {
  padding: 0.5em;
}
.reply-image img{
  width: 4em;
}
.reply-text {
  padding: 0.5em;
}
.reply-text .user-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
}

.message.selected, .reply.selected {
  border: solid 2px blue;
}

.properties {
  padding: 2em;
  text-align: left;
  width: 16em;
  position: fixed;
  right: 6em;
  top: 2em;
}

.tag {
  padding: 0.5em 1em;
  background: #222;
  color: white;
  border-radius: 1em;
  font-size: 0.8em;
  font-weight: bold;
  margin: 0.5em;
}

.tag {
  padding: 0.5em 1em;
  background: #444;
  color: white;
  border-radius: 1em;
  font-size: 0.8em;
  font-weight: bold;
  margin: 0.5em;
}

.tag.selected{
  background: blue;
}

.note-box {
  padding: 1em;
  border-radius: 1em;
  margin: 1em 0px;
  min-height: 5em;
  width: 100%;
  font-size: 0.9em;
}

.filter-block {
  display: flex;
}

.filter {
  display: block;
  font-size: 0.9em;
  margin: 1em;
}

.filter label, .filter input {
  display: block;
}

.save-btn {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1em;
  padding: 0.5em 1em;
  border-radius: 1em;
  background: blue;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.message-tags, .message-notes {
  padding: 0.5em 1em 0 1em;
  border-top: solid 1px #ccc;
  margin-top: 0.5em;
  margin-right: 2em;
}

.message-tag {
  font-size: 0.9em;
  padding: 0.5em 1em;
  margin: 0 0.5em 0 0;
  display: inline-block;
  border-radius: 1em;
  background: blue;
  color: white;
  font-weight: bold;
}

.message-note {
  border-bottom: solid 1px #ddd;
  margin-bottom: 0.5em;
  padding: 0.5em 0;
}